# Python
venv/
__pycache__/
.ipynb_checkpoints/

# Data files
01_customer_analytics/data/raw/*
01_customer_analytics/data/silver/*
01_customer_analytics/data/gold/*

# Keep folder structure
!01_customer_analytics/data/raw/.gitkeep
!01_customer_analytics/data/silver/.gitkeep
!01_customer_analytics/data/gold/.gitkeep

# DuckDB
*.duckdb
*.wal

# Logs
*.log

# Power BI
*.pbix